body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  font-family: "Roboto", "Arial", sans-serif;
}

.container {
  min-width: 320px;
  max-width: 1960px;
  margin: 0 auto;
}

.page-header {
  background-color: teal;
}

.main-menu {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-menu__item {
  padding: 10px 20px;
}

.main-menu__item:last-child {
  margin-right: 0;
}

.main-menu__link {
  color: #ffffff;
}