.navigation {
  padding-bottom: 56px;
  position: relative;
}

@media (min-width: $tablet-width) {
  .navigation {
    padding-bottom: 0;
  }

  .navigation__toggle {
    display: none;
  }
}

.navigation__logo {
  position: absolute;
  bottom: -33px;
  left: 50%;
  transform: translate(-50%);
  z-index: 10;
}

.navigation__toggle {
  position: absolute;
  bottom: 17px;
  right: 20px;
  z-index: 2;
  width: 23px;
  height: 22px;
  cursor: pointer;
  border: none;
  background-color: transparent;

  &:focus {
    outline: none;
  }
}

.navigation--closed .navigation__toggle::before {
  content: "";
  position: absolute;
  bottom: 17px;
  right: 1px;
  width: 23px;
  height: 4px;
  background-color: $background-btn;
  box-shadow: 0 8px 0 0 $background-btn, 0 16px 0 0 $background-btn;
}

.navigation--closed .navigation__toggle:hover::before {
  opacity: 0.6;
}

.navigation--closed .navigation__toggle:active::before {
  opacity: 0.3;
}

.navigation--opened .navigation__toggle--off {
  top: 17px;

  &::before,
  &::after {
    content: "";
    position: absolute;
    width: 27px;
    right: -3px;
    top: 9px;
    height: 4px;
    background-color: $white;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }

  &:hover::before,
  &:hover::after {
    opacity: 0.6;
  }

  &:active::before,
  &:active::after {
    opacity: 0.3;
  }
}

.navigation--closed.navigation-opened .navigation__toggle {
  display: none;
}

.navigation--closed .site-list__item {
  display: none;
}

.navigation--closed.navigation--opened .site-list__item {
  display: block;
}

@media (min-width: $tablet-width) {
  .navigation--closed .site-list__item {
    display: block;
  }
}

@media (min-width: $desktop-width) {
  .navigation__logo {
    position: absolute;
    bottom: -47px;
    left: 50%;
    transform: translate(-50%);
    z-index: 10;
  }
}