/* $background-body-base: #ffffff;
$background-block: #eeeeee;
$background-block-second: #81b3d2;

$background-color-second: #ddebf4;

$background-color-map: #eeeeee;
$background-color-photo: #eaeaea;

$background-input: #f2f2f2;
$background-input--active: #d5d5d5;

$input-block: #e6e6e6;

$black: #000000;
$white: #ffffff;

$font-color-base: #333333;
$font-color-second: $white;
$font-color-title: $black;

$menu-active: #766357;
$menu-hover: #604e43;


$font-family-base: "PT Sans", "Arial", sans-serif;
$font-size-base: 14px;
$line-height-base: 21px;

$box-shadow-modal: rgba(0, 1, 1, 0.15);
$black-opacity-20: rgba(0, 0, 0, 0.2);
$black-opacity-30: rgba(0, 0, 0, 0.3);
$black-opacity-60: rgba(0, 0, 0, 0.6);
$dark-gray-opacity-30: rgba(51, 51, 51, 0.3);
$white-opacity-20: rgba(255, 255, 255, 0.2);
$white-opacity-30: rgba(255, 255, 255, 0.3);
$white-opacity-60:  rgba(255, 255, 255, 0.6);
$white-opacity-100: rgba(255, 255, 255, 1);

$background-btn: #81b3d2;
$background-btn--hover: #669ec0;
$background-btn--active: #5496bd;
$background-btn--disabled:#e5e5e5;

$video-button-gray: #5c6870;

$border-color: #d6d6d6;

$tablet-width: 768px;
$desktop-width: 1200px;
$mobile-width-only: 320px; */

:root {
  --color-white: #ffffff;
  --color-blue: #0094d3;
  --color-dark-grey: #2a2c2b;
  --color-black: #000000;
}

.body {
  min-width: 320px;
  margin: 0;
  padding: 0;
  font-family: "Source Sans Pro", "Arial", sans-serif;
  font-size: 16px;
  line-height: 1.2;
  font-weight: 400;
  background-color: var(--color-white);
  background-color: #ffffff;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  white-space: nowrap;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.page-wrapper {
  margin: 0 auto;
  min-width: 320px;
  max-width: 520px;
}

.page-header {
  padding: 27px 23px;
}

.navigation {
  display: flex;
  /* justify-content: space-between; */
  position: relative;
}

.navigation__logo {
  display: block;
  width: 185px;
  height: 43px;
}

.navigation__toggle {
  position: absolute;
  bottom: 17px;
  right: 20px;
  z-index: 2;
  width: 23px;
  height: 22px;
  cursor: pointer;
  border: none;
  background-color: transparent;
}

.navigation__toggle:focus {
  outline: none;
}

.navigation--closed .navigation__toggle::before {
  content: "";
  position: absolute;
  bottom: 17px;
  right: 1px;
  width: 23px;
  height: 4px;
  background-color: var(--color-blue);
  box-shadow: 0 8px 0 0 var(--color-blue), 0 16px 0 0 var(--color-blue);
}

.navigation--closed .navigation__toggle:hover::before {
  opacity: 0.6;
}

.navigation--closed .navigation__toggle:active::before {
  opacity: 0.3;
}

.navigation--opened .navigation__toggle--off {
  width: 32px;
  height: 32px;
  top: 27px;
  right: 23px;
}

.navigation--opened .navigation__toggle--off::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 32px;
  height: 32px;
  background-image: url(../img/icon-close.svg);
}

.navigation--opened .navigation__toggle--off:hover::before{
  opacity: 0.6;
}

.navigation--opened .navigation__toggle--off:active::before {
  opacity: 0.3;
}

.navigation--closed.navigation-opened .navigation__toggle {
  display: none;
}

.navigation--closed .site-list__item {
  display: none;
}

.navigation--closed.navigation--opened .site-list__item {
  display: block;
}

@media (min-width: 768px) {
  .page-wrapper {
    max-width: 900px;
  }

  .page-header {
    padding: 30px 80px;
  }

  .navigation {
    padding-bottom: 0;
  }

  .navigation__toggle {
    display: none;
  }

  .navigation--closed .site-list__item {
    display: block;
  }
}

@media (min-width: 1920px) {
  .page-wrapper {
    max-width: 1920px;
  }

  .page-header {
    padding: 30px 135px;
  }
  
  .navigation__logo {
    margin-left: 122px;
  }
}